<ion-list>
  <ion-item>
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>
      <h2>Emiliano Insfran</h2>
      <p>emilianoinsfran@gmail.com</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="calendar-outline" slot="start"></ion-icon>
    <ion-label>
      <h2>31</h2>
      <p>Edad</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
    <ion-label>
      <h2>1154112906</h2>
      <p>Celular</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="call" slot="start"></ion-icon>
    <ion-label>
      <h2>00001111</h2>
      <p>Teléfono</p>
    </ion-label>
  </ion-item>
</ion-list>



