<ion-list>
  <ion-item>
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>
      <h2>{{objDatosPerfil.nombre}} {{objDatosPerfil.apellido}}</h2>
      <p>{{objDatosPerfil.email}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="calendar-outline" slot="start"></ion-icon>
    <ion-label>
      <h2>{{objDatosPerfil.edad}}</h2>
      <p>Edad</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
    <ion-label>
      <h2>{{objDatosPerfil.celular}}</h2>
      <p>Celular</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="call" slot="start"></ion-icon>
    <ion-label>
      <h2>{{objDatosPerfil.telFijo}}</h2>
      <p>Teléfono</p>
    </ion-label>
  </ion-item>
</ion-list>



