@import "../../../colores-app.scss";

.box-contenedor.servicios{
    .lista-oficios {
        margin: 0;
        margin-bottom: 10px;
    }

    .text-area{
        margin-bottom: 10px;
    } 

    .box-con-oficio{
        ion-icon {
            position: relative;
            top: 0px;
            font-size: 25px;
        }
        ion-button {
            --color: $primary-color ; // Cambia el color del botón de eliminar según tus preferencias
        }
    }
}