<ion-header>
  <ion-toolbar>
    <ion-title>Tus Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="box-contenedor servicios">

    <ion-list>
      <div class="box-sin-oficio" *ngIf="!showOficios" >
        <app-warning></app-warning>
      </div>

      <div class="box-con-oficio" *ngIf="showOficios">

        <ion-list>
          <ion-item-sliding  *ngFor="let oficio of arrayOficiosSeleccionados" [disabled]="!hideEliminarOficio">
            <ion-item>
              {{ oficio?.nombre }}
            </ion-item>
            <ion-item-options side="start">
              <ion-item-option color="danger" (click)="eliminarTag(oficio)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>

    </ion-list>
  </div>

  <ion-modal trigger="select-oficios" #modalOficios  >
    <ng-template>
       <app-oficios
        class="ion-page"
        title="Lista de Oficios"
        [items]="fruits"
        [selectedItems]="selectedFruits"
        (selectionChange)="fruitSelectionChanged($event)"
        (selectionCancel)="modalOficios.dismiss()"
        page="servicios"
      ></app-oficios> 
    </ng-template>
  </ion-modal>
       
</ion-content>

<ion-footer>
  <div *ngIf="showOficios">
    <div class="box-btn-agregar-oficios" *ngIf="!hideEliminarOficio">
      <ion-button (click)="editarOficios()">
        <ion-icon name="trash"></ion-icon> Eliminar servicios
      </ion-button>
    </div>
    
    <div *ngIf="hideEliminarOficio">
      <app-info></app-info>

      <ion-button (click)="setOficiosEditados()" >
        <ion-icon name="checkmark-outline"></ion-icon> Guardar
      </ion-button>
    </div>

  </div>

  <ion-button (click)="openModal()" *ngIf="!hideEliminarOficio ">
     <ion-icon name="add-circle-outline"></ion-icon> {{showOficios? 'Agregar más servicios' : 'Agregar servicio'}}
  </ion-button>
</ion-footer>
