<ion-content class="login">
      <header>
          <div class="logo"></div>
          <h2>TrabajoYA</h2>
      </header>
      <section class="box-contenedor">
        <h3>Hola! entra y encontra lo que necesites</h3>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="form-group col-12">
          <hr>
        </div>
  
        <button type="button" class="btn btn-primary" (click)="gotoPage('home')" >Entrar</button>
        <button type="button" class="btn btn-primary">Entrar con google</button>
  
        <div class="link-box top"><a>¿Olvidaste tu contraseña?</a> </div>
  
        <button type="button" class="btn btn-light btn-sec">Registrate</button>

      </section>


     <!--
      <h3>¿Que necesitas?</h3>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Trabajar</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Contratar</button>
        </li>

      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">.
          
          login
          
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


        </div>
      </div>
     --> 

</ion-content>
