.login {
    --ion-background-color: #0c2840 !important;

    header {
        .logo {
            background-image: url("../../assets/img/icono.png");
            height: 200px;
            width: 200px;
            background-position: center;
            background-size: contain;
            margin: auto;
        }

        h2 {
            text-align: center;
            margin-top: 15px;
            color: white;
        }
    }


    .box-contenedor {
        padding: 15px;
        max-width: 360px;
        width: 100%;
        margin: auto;
    
        .form-floating {
            label {
                color: black;
            }
        }

        h3 {
            color: white;
            font-size: 1em;
        }
    
        .btn-sec{
            background: white;
            color: #007fef;
            border-color: #007fef;
        }
    
        .link-box{
            margin: 15px;
            text-align: center;
        }

        a{
            color: white;
        }

    }
}

