@import "../../../colores-app.scss";

.login {
    // --ion-background-color: $primary-color !important;

    header {
        .logo {
            background-image: url("../../../assets/img/icono.png");
            height: 150px;
            width: 200px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: auto;
        }
    }

    .box-contenedor {
        padding: 15px;
        max-width: 360px;
        width: 100%;
        margin: auto;
    
        .form-floating {
            label {
                color:  $primary-color;
            }
        }

        h3 {
            color: $primary-color;
            font-size: 1em;
            margin-bottom: 10%;
            text-align: center;
        }
        
        h2 {
            text-align: center;
            color: $primary-color;
        }
    
        .link-box{
            margin: 15px;
            text-align: center;
        }

        a{
            color: $primary-color;
        }

    }
}

