  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cerrarModal()" icon-only clear>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      <ion-title>Resultado de Busqueda</ion-title>
      <!-- <ion-buttons slot="start">
        <ion-button (click)="confirmChanges()">Done</ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>

  <ion-content  class="ion-padding resultado-busqueda-servicio">
      <app-resultado-busqueda [arrayListaResultadoTrabajador]="arrayListaResultado"></app-resultado-busqueda>
  </ion-content>
