  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="cerrarModal()">Cancelar</ion-button>
      </ion-buttons>
      <ion-title>Resultado de Busqueda</ion-title>
      <!-- <ion-buttons slot="start">
        <ion-button (click)="confirmChanges()">Done</ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>

  <ion-content  class="ion-padding">
      <app-resultado-busqueda [arrayListaResultadoTrabajador]="arrayListaResultado"></app-resultado-busqueda>
  </ion-content>
