<ion-header class="content-header-oficios">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="cancelChanges()" icon-only clear><ion-icon name="close-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Lista de Servicios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmChanges()" icon-only clear><ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
    </ion-buttons> 
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchbarInput($event)" animated="true" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding box-list-oficios">
  <ion-list id="modal-list" [inset]="true">
    <ion-item *ngFor="let item of filteredItems; trackBy: trackItems"  >
      <ion-checkbox
        [value]="item.value" 
        [checked]="isChecked(item.value)"
        (ionChange)="checkboxChange($event)"
        [disabled]="item.disabled"
      ></ion-checkbox><span class="lista-oficio">{{ item.nombre }}</span> 
    </ion-item>
  </ion-list>
</ion-content>
