<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title>Hola! ¿Qué servicio buscas?</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="pedidos">

    <div class="pedidos-img"></div>
  
    <!-- busqueda de oficios -->

    <ion-modal trigger="select-fruits" #modal  >
      <ng-template>
         <app-oficios
          class="ion-page"
          title="Lista de Oficios"
          [items]="fruits"
          [selectedItems]="selectedFruits"
          (selectionChange)="fruitSelectionChanged($event)"
          (selectionCancel)="modal.dismiss()"
          page="pedidos"
        ></app-oficios> 
      </ng-template>
    </ion-modal> 
  
    <!-- modal de resultado de busqueda -->
    
    <ion-modal #modal2 [isOpen]="modalService.getOpenModal()" >
      <ng-template>
        <app-busqueda 
          class="ion-page"
          [arrayListaResultado]="resultadoBusqueda"
          (cerrarModalBusqueda)="modal2.dismiss()"
        ></app-busqueda>
      </ng-template>
    </ion-modal>
  </ion-content>
  
  <ion-footer>
    <ion-button (click)="openModal()">
      <ion-icon name="search"></ion-icon> Buscar servicio
    </ion-button>
  </ion-footer>

</div>
<!-- <div slot="end" id="selected-fruits">{{ selectedFruitsText }}</div> -->