@import "../../../colores-app.scss";

.pedidos {
    .lista-oficios {
        margin: 0;
        margin-bottom: 10px;
        border: 1px solid grey;
        border-radius: 80px;
    }

    .text-area{
        margin-bottom: 10px;
    }
    
    .custom-button:focus {
        box-shadow: none;
    }
    
    .custom-button:active {
        background-color: $primary-color; 
    }

    .pedidos-img {
        background-image: url("../../../assets/img/pedidos.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: auto;
        height: 260px;
        margin-top: 60%;
        width: 100%;
        
    }
}


