/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
  font-family: 'Roboto Light', sans-serif;
  font-weight: 300;
}

button {
    width: 100% !important;
    margin-top: 5px !important;
}

ion-content {
    background-color: white !important;
}
.scroll-y {
  background: white !important;
}
.inner-scroll {
  background-color: white !important;
}

// ion-app {
//   background-color:  white !important; 
// }

.box-contenedor {
    padding: 15px;
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.custom-alert .alert-button {
    flex: 1; /* Que los botones ocupen el mismo espacio */
}

.custom-alert .alert-button:first-child {
    margin-right: 8px; /* Margen derecho para separar los botones */
}

.custom-alert {
  .alert-wrapper {
    background-color: #ffffff; /* Color de fondo */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  }

  .alert-title,
  .alert-message {
    color: #333333; /* Color del texto */
  }

  .alert-button {
    color: #007bff; /* Color del texto del botón */
  }

  .alert-title {
      border-bottom: 1px solid #cccccc; /* Línea gris */
      padding-bottom: 8px; /* Espacio entre el título y la línea */
  }
}

//header
ion-toolbar {
  --background: #0c2840;
  --border-radius: 10px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  ion-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    color: #fff; /* Letras blancas */
  }

  ion-button {
    --color: #fff;
    --background: #007bff;
    --border-radius: 5px;
    --padding-end: 8px;
    --padding-start: 8px;
  }

  ion-button:hover {
    --background: #0056b3;
  }

  ion-icon {
    color: white !important;
    --color: #ffffff; /* Color blanco */
  }
}


.searchbar-search-icon.sc-ion-searchbar-md, .searchbar-cancel-button.sc-ion-searchbar-md {
  color: grey !important;
}

//FOOTER  

ion-footer {
  top: -24px !important;
  max-width: 94%;
  width: 100%;
  margin: auto;
}

ion-footer.footer-md {
  -webkit-box-shadow: none;
  box-shadow: none;
}

//BUTTON
.btn-primary {
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 0.5rem 1rem; /* Espaciado interno */
  border-radius: 0.25rem; /* Bordes redondeados */
  cursor: pointer; /* Cambiar a cursor de mano */
  height: 40px !important;
}

button {
  border-radius: 50px;
  background: #0c2840;
  border-color: #0c2840;
  height: 45px !important;
}

.custom-button {
  border-radius: 50px;
  background: #0c2840;
  border-color: #0c2840;
  height: 45px !important;
  color: white; /* Color del texto */
  font-size: 1em; /* Tamaño del texto */
  padding: 0 20px; /* Espaciado interno horizontal */
  display: flex; /* Alineación del contenido */
  align-items: center; /* Alineación vertical del contenido */
  justify-content: center; /* Centrar horizontalmente el contenido */
}

.custom-button ion-icon {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}


