<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="" class="box-contenedor registro">
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input label="Nombre" placeholder="Nombre"></ion-input>
          <ion-icon name="person-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input label="Apellido" placeholder="Apellido"></ion-input>
          <ion-icon name="person-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Edad</ion-label>
          <ion-input label="Edad" placeholder="Edad"></ion-input>
          <ion-icon name="calendar-outline" slot="end"></ion-icon>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Telefono Fijo</ion-label>
          <ion-input label="Telefono Fijo" type="number" placeholder="00000000"></ion-input>
          <ion-icon name="call-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input label="Celular" type="number" placeholder="01100000000"></ion-input>
          <ion-icon name="phone-portrait-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input label="Email" type="email" placeholder="email@domain.com"></ion-input>
          <ion-icon name="mail-outline" slot="end"></ion-icon>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input label="Contraseña" type="password" value=""></ion-input>
          <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input label="Confirmar Contraseña" type="password" value=""></ion-input>
          <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        </ion-item>

      </ion-list>
    </ion-list>

    <button type="button" class="btn btn-primary" >Guardar</button>


  </form>

</ion-content>
